.time-entries-list {
  background: #eff4f7;
  margin: 20px;
  border: 1px solid #C6D2D9;
  border-radius: 2px;
}

body.dark .time-entries-list {
  border: 1px solid #12191D;
}

.time-entries-list-time {
  background: #E4EAEE;
  color: #999999;
  padding: 20px 10px;
  border-bottom: 1px solid #C6D2D9;
}

body.dark .time-entries-list-time {
  background-color: #12191D;
  border-bottom: 1px solid #12191D;
}

.time-entries-list-day {
  position: relative;
  top: -7px;
  float: left;
  color: #333333;
  font-size: 12px;
  line-height: 14px;
}

.time-entries-total-and-time {
  position: relative;
  top: -7px;
  float: right;
}

.time-entries-list-total {
  margin-right: 3px;
  color: #999999;
  font-size: 12px;
  line-height: 14px;
}

body.dark .time-entries-list-total, body.dark .time-entries-list-day {
  color: #90A4AE;
}

.time-entries-list-total-time {
  color: #333333;
  font-size: 12px;
  line-height: 14px;
}

body.dark .time-entries-list-total-time {
  color: #C6D2D9;
}

.time-entry {
  background: white;
  font-size: 14px;
  color: #333333;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease;
}

body.dark .time-entry, body.dark .time-entry-locked {
  background-color: #1D272C;
  border: 1px solid #12191D;
}

.time-entry-description {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.description, .no-description {
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  flex: 1;
  align-content: start;
  color: #000;
}

body.dark .description {
  color: #E4EAEE;
}

.time-entry-project {
  display: flex;
  margin-top: 2px;
  align-items: center;
  font-size: 13px;
  width: 100vw;
  line-height: 16px;
}

.time-entry__project-wrapper {
  flex: 1;
  margin-left: 5px;
  align-content: start;
}

.time-entry__project-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time-entry__right-side {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-top: 8px;
  color: rgb(255, 193, 7);
}

body.dark, body.dark {
  color: #C6D2D9;
}
