.button-actions {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}

.button-actions button {
  width: auto;
  border: revert;
  margin-right: 5px;
}

body.dark .button-actions button {
  background-color: #ffffff;
}

.react-modal {
  position: absolute;
  top: 25%;
  left: 15%;
  right: 15%;
  bottom: 50%;
  outline: none;
  padding: 10px;
  z-index: 1113;
  background-color: #ffffff;
}

body.dark .react-modal {
  background-color: #37474F;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1112;
  background-color: #00000096;
}
