.header-trash {
  width: 20px;
  height: 18px;
  z-index: 1051;
  margin-right: 15px;
  background-image: url("../../assets/images/trash.png");
}

.header-trash:hover {
  background-image: url("../../assets/images/trash-hover.png");
}
