body {
  background-color: #eff4f7;
  margin: 0;
  overflow-y: visible;
  overflow-x: hidden;
  scrollbar-base-color: #03A9F4;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #03A9F4;
}

.dark {
  background: #37474F;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  overflow: visible;
  text-align: left;
}

button:focus {
  outline: none;
}


.icon-button {
  color: #90A4AE;
  cursor: pointer;
}

.icon-button:hover {
  color: #03A9F4;
}

.margin-icon {
  margin-left: 5px;
}
