.content-setting {
  width: 400px;
  min-height: 430px;
  padding-top: 120px;
}

.invisible-menu {
  width: 100vh;
  height: 100vh;
  z-index: 1050;
}

.rectangle {
  position: absolute;
  top: 65px;
  right: 22px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  box-shadow: -2px -2px 5px -1px #ccc;
  background: white;
  z-index: 3;
}

body.dark .dropdown-menu {
  background-color: #12191D;
  box-shadow: none;
}

body.dark .dropdown-header, body.dark .dropdown-item {
  color: #90A4AE;
}

body.dark .dropdown-divider {
  border-bottom: 1px dotted #263238;
}

body.dark .rectangle {
  background-color: #12191D;
  box-shadow: none;
}

.modal {
  top: 0;
  right: 0;
  position: absolute;
}

.dropdown-menu {
  position: absolute;
  overflow: auto;
  max-height: 400px;
  top: 70px;
  right: 3px;
  width: 250px;
  padding: 5px 0;
  box-shadow: 0 0 7px #ccc;
  background: white;
  text-align: left;
  font-size: 13px;
  z-index: 1061;
}

.header-back {
  color: #03A9F4;
  cursor: pointer;
}

.dropdown-divider {
  height: 1px;
  border-bottom: 1px dotted #cacaca;
  margin: 5px 0;
}

body.dark .dropdown-divider {
  border-bottom: 1px dotted #263238;
}

.dropdown-header {
  background: #E4EAEE;
  padding: 10px 20px;
  color: #999999;
  border-bottom: 1px solid #C6D2D9;
}

body.dark .dropdown-header {
  background-color: #1D272C;
  border-bottom: 1px solid #12191D;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #666666;
  font-size: 12px;
}

.dropdown-item.active {
  color: #03A9F4;
}

.dropdown-item:hover {
  background: #E4EAEE;
}

.settings-page {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}

.settings-page-item {
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.settings-page-item-title {
  margin-top: 15px;
}

.settings-page-item-margin {
  margin-left: 10px;
}

.links-template {
  display: flex;
  flex-direction: row;
}

section.table {
  margin-top: 5px;
  padding: 5px;
}

header.table, .row {
  display: flex;
  color: #03A9F4;
}

.col_1 {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.col_2 {
  flex: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.col-text {
  color: #000;
}

body.dark .col-text {
  color: #E4EAEE;
}

.links-template select {
  flex: 1;
}
